/* בסיס */
body {
    font-family: "Segoe UI", sans-serif;
}

/* מצב יום */
.light-mode {
    background-color: #f5f5f5;
    color: #000000;
}

.light-mode .stApp {
    background-color: #f5f5f5;
    color: #000000;
}

.light-mode .stTextInput input,
.light-mode .stSelectbox div,
.light-mode .stButton>button {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
}

.light-mode .stMetric {
    background-color: #eaeaea;
    color: #000;
}

.light-mode .css-1v0mbdj svg {
    stroke: black !important;
}

/* מצב לילה */
.dark-mode {
    background-color: #0e1117;
    color: #ffffff;
}

.dark-mode .stApp {
    background-color: #0e1117;
    color: #ffffff;
}

.dark-mode .stTextInput input,
.dark-mode .stSelectbox div,
.dark-mode .stButton>button {
    background-color: #1e222c;
    color: #ffffff;
    border: 1px solid #444;
}

.dark-mode .stMetric {
    background-color: #22252c;
    color: #ffffff;
}

.dark-mode .css-1v0mbdj svg {
    stroke: white !important;
}

/* התאמה לגרפים */
.dark-mode .element-container svg {
    background-color: transparent !important;
    color: white !important;
}
